[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[user]
	name = sen-tou
	email = 29461308+sen-tou@users.noreply.github.com
	signingKey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJ9JHijar28l5cQaV5p4tcZVhczaFTdW/gxgmC2ZV+oT gitworker
[add "interactive"]
	useBuiltin = False
[core]
	excludesfile = ~/.gitignore.global
	pager = delta
	editor = nvim
[delta]
	alwaysnavigate = True
	alwayslight = False
[diff]
	colorMoved = default
[interactive]
	diffFilter = delta --color-only
[merge]
	conflictstyle = diff3
[include]
	path = ~/.gitconfig.local
[gpg]
	format = ssh
[commit]
	gpgsign = true
