[submodule "playbooks/All/zsh_plugins/fast-syntax-highlighting"]
	path = playbooks/All/zsh_plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule "playbooks/All/zsh_plugins/z"]
	path = playbooks/All/zsh_plugins/z
	url = https://github.com/agkozak/zsh-z.git
[submodule "playbooks/All/zsh_plugins/abbr"]
	path = playbooks/All/zsh_plugins/abbr
	url = https://github.com/olets/zsh-abbr
[submodule "playbooks/All/zsh_plugins/autosuggestions"]
	path = playbooks/All/zsh_plugins/autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
