
:root {
--orange: rgb(224, 125, 19);
--teal: rgba(0, 189, 156, 1);
--red: rgb(220, 57, 106);
--green: rgb(152, 195, 121);
--pink: rgb(218, 112, 214);
--yellow: rgb(230, 198, 47);
--grey-back: rgb(12, 9, 18);
--foreground: rgba(242, 243, 244, 0.75);
--background: rgb(25, 19, 35);
--background-translucent: rgba(25, 19, 35, 0.8);
--foreground-active: rgb(230, 198, 47);
--background-active: rgb(23, 20, 31);
--foreground-dark: rgb(25, 19, 35);
--badge-background-pink: rgb(218, 112, 214);
--badge-background-teal: rgba(0, 189, 156, 1);
--badge-background-green: rgb(152, 195, 121);
--highlight: rgb(230, 198, 47);
    
}
        